@{
    ViewData["Title"] = "Главная";
}

<h1>Добро пожаловать в дневник тренировок!</h1>
<p>Войдите, чтобы начать записывать свои тренировки: <a asp-controller="Account" asp-action="Login">Войти</a></p>
<p>Нет аккаунта? <a asp-controller="Account" asp-action="Register">Зарегистрируйтесь</a></p>