@{
    ViewData["Title"] = "Добавить упражнение";
}

<h2>Добавить новое упражнение</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Название упражнения</label>
        <input type="text" name="Name" required />
    </div>
    <div style="margin-top: 10px;">
        <button type="submit">Сохранить</button>
        <a asp-action="Index">Назад</a>
    </div>
    @if (ViewBag.Error != null)
    {
        <p style="color: red;">@ViewBag.Error</p>
    }
</form>